.home__right {
  display: block;
  color: white;
  border: 1px solid rgb(30, 24, 24);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  flex: 1;
  position: relative;
  text-align: center;
  padding-top: 12px;
}

.background__black {
  background-color: rgb(2, 2, 19);
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  padding: 20px;
  padding-top: 40px;
  border-top-left-radius: 88px;
  height: 500px;
  overflow: scroll;
}

@media (max-width: 560px) {
  .home__right {
    max-width: 400px;
  }
}
@media (max-width: 540px) {
  .home__right {
    max-width: 350px;
  }
}

@media (max-width: 490px) {
  .home__right {
    max-width: 340px;
  }
}
@media (max-width: 480px) {
  .home__right {
    max-width: 330px;
  }
}

@media (max-width: 470px) {
  .home__right {
    max-width: 310px;
  }
}

@media (max-width: 450px) {
  .home__right {
    max-width: 300px;
  }
}
@media (max-width: 435px) {
  .home__right {
    max-width: 280px;
  }
}

@media (max-width: 410px) {
  .home__right {
    max-width: 250px;
  }
}
